<!-- <button (click)="randomize()">Randomize</button>
<button (click)="push()">Push</button>
<button (click)="pop()">Pop</button> -->

<app-range-input #range></app-range-input>

<div class="grid">
    <ng-template [ngRange]="range.max" [ngRangeMin]="range.min" let-i="index" let-first="first" let-last="last" let-odd="odd" let-even="even">
        <anime>
            Moocow {{ i }}
            {{ odd ? ' odd ' : '' }}
            {{ even ? ' even ' : '' }}
            {{ first ? ' first ' : '' }}
            {{ last ? ' last ' : '' }}
        </anime>
    </ng-template>
</div>
<!-- 
<div class="grid">
    <anime *ngFor="let color of colors; trackBy: trackByIndex; let i = index" [background]="color">
        Moocow {{ i }}
    </anime>
</div> -->
