<H1>Hello World</H1>

<app-range-input #range></app-range-input>


<div class="grid">
    <anime
        *ngRange="range.max; min:range.min; let i = index; let first = first; let last = last; let odd = odd; let even = even"
    >
        Moocow {{ i }}
        {{ odd ? ' odd ' : '' }}
        {{ even ? ' even ' : '' }}
        {{ first ? ' first ' : '' }}
        {{ last ? ' last ' : '' }}
    </anime>
</div>

<!-- #region Secrets -->
<button class="woo" (click)="woo.woo()">Woo!</button>
<button class="gifs" (click)="gifs.push()">Gifs!</button>
<div #divContainer class="party-time">
    <app-woo #woo [divContainer]="divContainer"></app-woo>
</div>
<app-gifs #gifs></app-gifs>
<!-- #endregion -->